<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TISB Debate</title>
    <link rel="shortcut icon" href="assets/logo_tisbdebate.jpg" type="image/x-icon">
    <link rel="stylesheet" href="/assets/style.css">
</head>
<body>
    <div id="top-nav" style="@media (max-width: 25cm) { display: none; }">
        <div style="height: 100%;"><img src="/assets/logo_tisb.png" alt="TISB Logo" style="height: 100%;"></div>
        <div style="height: 50%; display: flex;"><a class="subsubheading" href="/" style="color: black; align-self: center;">Home</a></div>
        <!-- <div style="grid-column: 2;"><a class="subsubheading" href="/sponsors" style="color: black;">Sponsors</a></div> -->
        <div style="height: 50%; display: flex;"><a class="subsubheading" href="/about" style="color: black; align-self: center;">About</a></div>
        <div style="height: 50%; display: flex;"><a class="subsubheading" href="/letters" style="color: black; align-self: center;">Letters</a></div>
        <div style="height: 50%; display: flex;"><a class="subsubheading" href="/files" style="color: black; align-self: center;">Motions and Files</a></div>
    </div>
    <div class="articles-page">
        <a href="/" style="padding-bottom: 10vh; justify-self: center; display: flex;">
            <img src="/assets/logo_tisbdebate.jpg" alt="TISB Debate logo" style="grid-row: 1; height: 50vh; justify-self: center;">
        </a>
        <div class="article w-60" style="grid-row: 2; width: 60%;">
        </div>
    </div>
    <footer style="text-align: center; padding-bottom: 5vh">
        Contact us at <a href="mailto:debate@tisb.ac.in">debate@tisb.ac.in</a><br>
        <strong>TISB DEBATE 2024 &#169 ALL RIGHTS RESERVED</strong>
    </footer>
</body>
</html>
